/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.border_right {
	float: left;
	width: 32%;
	padding-left: 10px;
}

.col-left {
	float: left;
	width: 635px;
}

.col-right {
float: left;
width: 310px;
margin-left: 15px;
}

.un {
	float: left;
	width: 310px;
	margin-right: 15px;
}

.deux {
	float: left;
	width: 310px;
}

.trois {
	float: left;
	width: 310px;
	margin-left: 15px;
}
