/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.col-1 {
  width: 98%;
  display: inline-block;
  margin: 1%;
}

.col-2 {
  width: 31.3333%;
  display: inline;
  float: left;
  margin: 1%;
}

.col-3 {
  width: 64.66%;
  display: inline-block;
  float: left;
  margin: 1%;
}






