/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
.shadow:nth-of-type(2){
  width: 65%;
  margin: 0;
  height: 600px;

  float: left;

}
.shadow:nth-of-type(3){
  width: 32%;
  margin: 0 auto;
  height: 600px;
  float: right;
}

.shadow:nth-of-type(4){
  width: 32%;
  margin-right: 0.66%;;
  float: left;
  margin-top: 30px;

}

.shadow:nth-of-type(5){
  width: 32%;
  margin-left: 1.33%;
  float: left;
  margin-top: 30px;

}
.shadow:nth-of-type(6){
  width: 32%;
  margin-left: 0.67%;;
  float: right;
  margin-top: 30px;

}
