/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#big-col {
  position: relative;
  width: 60%;
  height: 500px;
  margin: 0
  float: right;
  height: 100%;
  min-height: 100%;
}

.shadow {
  position: relative;
  width: 30%;
  height: 500px;
  margin: 10px;
  float: left;
  height: 100%;
  min-height: 100%
}

#details .border_right {
  position: relative;
  width: 30%;
  height: 200px;
  margin: 10px;
  float: left;
}

#details .border_left {
  position: relative;
  width: 30%;
  height: 200px;
  margin: 10px;
  float: left;
}
